<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" >
	
	<listeners>
		<listener class-name="SeleniumUtils.TestNgListener"></listener>
	</listeners>
	
			
	<parameter name = "appUrl" value ="https://keyfood.ro/" />
    <test name="test" >
		
		
         <parameter name = "browser" value ="firefox"/>
         
               
        <classes>
              
            <class name="Tests.LoginTest" ></class>
            
        </classes>
        
    </test> 
</suite>